.navbar.navbar-static-top
  .navbar-inner
    .container
      %a#nav-left.brand.pull-left{:href => "/"} Future Scientists
      - unless flash[:notice].nil?
        = flash[:notice]
      %ul.nav.pull-right
        %li
          %a#submit_new_problem{:href => "/problems/new"} Submit New Problem
        %li
          - if not session[:account].nil?
            = link_to "#{session[:account].account_name}", account_path(session[:account])
        %li
          - if session[:account].nil?
            %a#log_in{:href => "/accounts/login_form"} Log In
          - else
            %a#log_out{:href => "/accounts/logout"} Log Out
