<!DOCTYPE html>
<html>
<head>
  <title>Futurescientist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
</head>
<body>

<%= yield %>

</body>
</html>
