%html
  %head
    %link{:href => "bootstrap/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}
      %link{:href => "css/main.css", :rel => "stylesheet", :type => "text/css"}
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a#nav-left.brand.pull-left Future Scientists
          %ul.nav.pull-right
            %li
              %a#post{:href => "#"} Post
            %li
              %a#sign_up{:href => "#"} Sign Up
            %li
              %a#log_in{:href => "#"} Log In
    %br
      .container
        .row
          .span8.offset2
            .well
              %table#listings_table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th Problem Summary
                    %th Skills
                    %th Location
                    %th Wage
                %tbody
                  %tr
                    %td Problem 1
                    %td Skill 1
                    %td Town 1
                    %td 10
                  %tr
                    %td Problem 2
                    %td Skill 2
                    %td Town 2
                    %td 50
