=render :partial => '/layouts/header'
%br
  .span9.offset1
    .well
      .container
        .span8
          %h3 Forgot Account Name
          %h6 Please text 'account' to #{@twilio} with the phone number associated with the account, and a text will be sent to remind you of the account name.
          = link_to 'Back to login page', '/accounts/login_form'
          %br
