=render :partial => '/layouts/header'
%br
  .span9.offset1
    .well
      .container
        .span8
          %h3 Forgot Password
          %h6 Please text 'password' to #{@twilio} with the phone number associated with the account, and you will recieve a text prompting you to create a new password by sending a text in this format: 'change [new password]' to #{@twilio}.  Remember that your password must be at least 6 characters with 1 capital letter.
          = link_to 'Back to login page', '/accounts/login_form'
          %br
